@tailwind base;
@tailwind components;
@tailwind utilities;

.pictures-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(384px, 1fr));
  justify-items: center;
  gap: 10px;
}
